// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert-grey{
  background-color: #fbfbfb;
  border-color:#e1e1e1;
}
.thumb-label-item-img{
  height:182px;
  width:280px;
}
.full-width{
  width:100%;
}
.img-centered{
  margin:auto;
}