<div class="rev-slider-full">
  <div class="rev-slider-banner-full  rev-slider-full">
    <ul>
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
        <%= image_tag "photos/start.jpg", data: {fullwidthcentering:"on"}%>

        <div class="tp-caption slider-text-title sft str alert alert-grey"
           data-x="20"
           data-y="250"
           data-speed="300"
           data-start="800"
           data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Our Mission</div>


        <div class="tp-caption slider-text-description sft str alert alert-grey"  data-x="20" data-y="300" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
          The World Pro Skiing Foundation brings business leaders together with world-class athletes<br/>
          to develop these exceptional young people into the leaders of tomorrow.
        </div>
        <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="380" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
          <%=link_to "More Info", about_path, class:"button btn-flat"%>
        </div>          
      </li>


      <li data-transition="slideleft" data-slotamount="7">
        <%=image_tag "photos/air.jpg"%>

        <div class="tp-caption slider-text-title sfb stl alert alert-grey"
           data-x="right"
           data-y="50"
           data-hoffset="20"
           data-speed="300"
           data-start="800"
           data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Donations</div>


        <div class="tp-caption slider-text-description sfb stl alert alert-grey"  
           data-x="right"
           data-y="100"
           data-hoffset="20" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
          If our mission resonates, please consider joining us in this worthy journey.<br/>
          Funds will be used to organize and execute these opportunities, from creating<br/>
          workshops and symposia, to supporting internships.  
        </div>
        <div class="tp-caption slider-text-description sfb stl" 
           data-x="right"
           data-y="200"
           data-hoffset="20" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
          <%=link_to "Donate", donate_path, class:"button btn-flat"%>
        </div>        

      </li>

    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>