<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
      </div>
      <div class="col-sm-5">
        <div class="social-icons">
          <ul>
            <li><%=link_to "Facebook", "https://www.facebook.com/worldproskiing", target: "_blank", class: "social-media-icon facebook-icon", data: {original_title: "facebook"}%></li>
          </ul> 
        </div>
      </div>
    </div>
  </div>
</div>